* {
    font-family: Helvetica;
}

html, body 
{
    height: 100%;  
    background-color: #000000;
    color: #ffffff;
}

img, iframe {
 border: 0;
}

body {
    margin: 0;
    padding: 0;
    overflow: hidden;
}

#viewport {
  position: absolute;
  /*width: 1024px;
  height: 720px;*/
  width: 100%;
  height: 100%;
  background-repeat: no-repeat no-repeat;
  background-size: 100%;
}


.plugin_holder, .plugin_full, .menu {
   #background: #0078c9;
   background: url('static/background_4.png');
   #opacity: 0.6;
   position: absolute;
   overflow: hidden;
   border-radius: 5px;
   box-shadow: 0 0 15px rgba(0,0,0,1);
}

.plugin_full {
  position: static;
  width: 100%;
  height: 100%;
  display: none;
}

.ui-resizable {
  position: inherit;
}

.menu{
  width: 200px;
  margin: 0 auto;
  z-index: 1000;
  position: relative;
  border-radius: 0px 0px 5px 5px;
  padding: 0;
  display: none;
}


.toggler{
  width: 100%;
  height: 10px;
}

.menu-collapsed{
  height: 10px;
}

.ui-resizable-helper { border: 2px dotted #00F; }